* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    transition: ease 0.2s;
}

:root {
    --pink: rgb(255, 137, 156);
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#sidenav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    /* background-color: pink; */
    /* border-right: 1px solid var(--pink); */
}

.nav-links {
    font-size: 21px;
    margin-bottom: 6px;
}

.nav-links:hover {
    margin-left: -12px;
}

#logo {
    display: flex;
    flex-direction: row;
}

#logo-k {
    font-size: 100px;
    margin: -17px 10px 0px 0px;
}

#logo-k p:hover {
    color: var(--pink);
}

#logo-words {
    font-size: 36px;
}

#socials {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 15px;
    left: 0;
    width: 20%;
}

#socials img {
    width: 25px;
    opacity: 0.8;
}

#socials img:hover {
    opacity: 1;
}

main {
    margin-left: 20%;
    width: 80%;
    display: flex;
    align-items: space-around;
    flex-direction: column;
    padding: 50px;
}

#top-nav {
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    padding: 10px 0px 25px;
}

#top-nav span {
    font-weight: 500;
    font-size: 45px;
    color: var(--pink);
}

#content-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.featured-cup {
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

.custom-cups {
    border: 1px solid black;
    width: 400px;
    height: 550px;
}

.all-cups {
    border: 1px solid black;
    width: 80%;
    height: 350px;
    margin: 50px 0px;
}